/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  margin: 0;
}

html {
  background-color: #1e1e1e;
  color: lightgray;
  padding: 0 2px 2px 2px;
}

body {
  padding: 0;
}

/* Header */
h1 {
  text-align: center;
}

a {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: lightgoldenrodyellow;
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  background-color: #111;
  height: 100%;
  overflow-x: hidden;
  padding: 10px 0;
  position: fixed;
  width: 96px;
  z-index: 1;
}

.sidebar.left {
  left: 0;
  top: 0;
}

.sidebar.right {
  right: 0;
  top: 0;
}

.sidebar table, p {
  margin: 10px;
}

.sidebar p {
  text-align: center;
}

.main {
  margin: 0 98px;
}

/* Table */
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table.fixed {
  table-layout: fixed;
  width: max-content;
}

table.selectable:hover {
  cursor: pointer;
}

table.game.selected {
  border-style: double;
  border-color: red;
}

table.game td {
  height: 15px;
  width: 15px;
}
